* {
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

h2 {
    border: 3px solid black;
    font-size: 1.25em;
    text-align: center;
    float: right;
    padding: 5px 15px;
    position: relative;
    right: 10px;
    bottom: 5px;
    width: 150px;
    margin-bottom: 0;
}

p {
    margin: 10px;
    border: 3px solid black;
    background-color: gray;
    padding: 50px 10px 10px;
}

.chicken {
    background-color: pink;
}

.beef {
    color: white;
    background-color: red;
}

.sushi {
    background-color: yellow;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
        width: 100%;
    }

    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }

    h2 {
        bottom: 15px;
    }
}
